body {
    padding-top: 50px;
}

.menu-button {
    font-size: 1.5em;
}

.nowrap {
    white-space: nowrap;
}

table.dl {
    margin-top: 0.5em;
}

table.dl th {
    white-space: nowrap;
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top;
}

table.dl tr+tr th, table.dl tr+tr td {
    padding-top: 1em;
}

table.dl td {
    vertical-align: top;
    width: 100%;
}

.footnote {
    font-size: 0.9em;
    font-style: italic;
    color: #999;
}

.underline {
    text-decoration: underline;
}

.margin-top {
    margin-top: 1em;
}

ul.primary-list > li + li {
    margin-top: 50px;
}

pre .highlight {
    font-weight: bold;
    background: #ccc;
}